{% extends 'shop/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h3 class="text-center mt-5 mb-5">Оформление заказа</h3>
{% if messages %}
    {% for message in messages %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>{{message}}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
    {% endfor %}
{% endif %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Наиминование</th>
      <th scope="col">Изображение</th>
      <th scope="col">Цена</th>
      <th scope="col">Кол-во</th>
        <th scope="col">Общая цена</th>

    </tr>
  </thead>
  <tbody>
    {% for cart_product in cart.products.all %}
    <tr>
      <th scope="row">{{cart_product.content_object.title}}</th>
      <td class="w-25"><img src="{{cart_product.content_object.image.url}}" class="img-fluid"></td>
      <td>{{cart_product.content_object.price}} руб.</td>
      <td >{{cart_product.qty}}</td>
        <td>{{cart_product.final_price}} руб.</td>
    </tr>
  {% endfor %}
    <tr>
      <td colspan="2"></td>
      <td>Итого:</td>
      <td>{{cart.total_products}}</td>
      <td><strong>{{cart.final_price}} руб.</strong></td>
    </tr>
  </tbody>
</table>
<hr>
<h3 class="text-center mt-5 mb-5">Форма заказа</h3>
<form action="{% url 'make_order' %}" method="post">
  {% csrf_token  %}
{{form|crispy}}
  <input type="submit" class="btn btn-success btn-block mb-3"  value="Оформить заказ">
</form>
{% endblock content %}