<table class="table">
  <tbody>
    <tr>
      <td>Диагнональ</td>
      <td>{{product.diagonal}}</td>
    </tr>
      <tr>
      <td>Тип дисплея</td>
      <td>{{product.display_type}}</td>
    </tr>
      <tr>
      <td>Разшерение екрана</td>
      <td>{{product.resolution}}</td>
    </tr>
          <tr>
      <td>Обьем батареи</td>
      <td>{{product.accum_value}}</td>
    </tr>
      <tr>
      <td>Оперативная память</td>
      <td>{{product.ram}}</td>
    </tr>
      <tr>
      <td>Наличие слота для SD кары</td>
      <td>{{product.sd}}</td>
    </tr>
      <tr>
      <td>Максимальный обьем SD карты</td>
      <td>{{product.sd_volume_max}}</td>
    </tr>
        <tr>
      <td>Главная камера (МП)</td>
      <td>{{product.main_cam_mp}}</td>
    </tr>
        <tr>
      <td>Фронтальная камера (МП)</td>
      <td>{{product.frontal_cam_mp}}</td>
    </tr>
  </tbody>
</table>
